%aside
    %nav
        %ul
            %li.current>
                %a{"href"=>"#top"}
                    %i.icon-shop 
                    Home
            %li> 
                %a{"href"=>"#about"}
                    %i.icon-user
                    About
            %li> 
                %a{"href"=>"#portfolio"}
                    %i.icon-diamond
                    Portfolio
            %li> 
                %a{"href"=>"#blog"} 
                    %i.icon-news
                    Blog
            %li> 
                %a{"href"=>"#photos"}
                    %i.icon-camera
                    Photos
            %li> 
                %a{"href"=>"#contact"}
                    %i.icon-mail
                    Contact

.container
    %section.s-1#top
        .x &#9776;
        .centered
            %img{"src"=>"http://markmurray.co/images/line-logo-transparent.png"}
        %a.social-arrow-down7{"href"=>"#about"}
    %section.s-2#about
        .content
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut reprehenderit autem ullam perspiciatis vitae quia iure voluptates aliquam obcaecati officia ex soluta sit iusto harum nisi numquam. 
            %p veritatis est consequuntur a enim quod maxime voluptas deserunt at fugit inventore velit et aut iste pariatur non dolores ad earum nobis facere aspernatur nihil totam nemo aperiam ipsa sunt similique aliquid laudantium beatae doloribus dolorem nostrum rerum temporibus accusamus illo. 
            %blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nulla impedit aliquam eum maxime. Odit labore quo maxime porro pariatur tempore laborum illo. 
            %p Vel id sequi blanditiis autem nesciunt a iusto dolore pariatur iure labore molestias deleniti saepe velit architecto laudantium inventore impedit rem minus omnis animi consectetur quasi fugiat perspiciatis aspernatur in quas odit!
    %section.contact-strip
        %h2 Interested in working together?
        %a{"href"=>"#contact"}
            %button.contact 
                %i.icon-paperplane
                GET IN TOUCH
    %section.s-3#portfolio
        %h3 PORTFOLIO WORKS
        %hr.hrline
        %ul.filter
            %li Filter by:
            %li.active All
            %li UI / UX
            %li Graphic Design
            %li Web Dev
            %li App Dev
        %ul.portfolio
            %li>
                %img{"src"=>"http://markmurray.co/images/catalpa.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/duc.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/dfs.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/skynetad.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/mmlogo.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/mixtape.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/routr-400x300.jpg"}
            %li>
                %img{"src"=>"http://markmurray.co/images/jigsaw.jpg"}
    %section.social-strip
        %ul.social-links
            %li>
                %a.social-facebook{"href"=>"#"}
            %li>
                %a.social-twitter{"href"=>"#"}
            %li>
                %a.social-flickr{"href"=>"#"}
            %li>
                %a.social-instagram{"href"=>"#"}
            %li>
                %a.social-spotify{"href"=>"#"}
            %li>
                %a.social-pinterest{"href"=>"#"}

        